[Desktop Entry]
Name=Caleson
GenericName=Caleson
Comment=JACK Toolbox
Comment[fr]=Boîte à outils JACK
Exec=caleson
Icon=caleson
Terminal=false
Type=Application
Categories=AudioVideo;AudioEditing;Qt;