[Desktop Entry]
Name=LADI Claudia Launcher
GenericName=Claudia Launcher
GenericName[fr]=Lanceur Claudia
Comment=Multimedia Applications Launcher
Comment[fr]=Lanceur d'applications multimédia
Exec=ladi-claudia-launcher
Icon=ladi-claudia-launcher
Terminal=false
Type=Application
Categories=AudioVideo;AudioVideoEditing;Qt;
